@font-face {
    font-family: "Bolas";
    src: url('/assets/Bolas-Bold.otf');
}

@font-face {
    font-family: "Connection";
    src: url('/assets/ConnectionSerif-d20X.otf');
}

:root {
    --solid-gray: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 15%);
    --lite-gray: hsl(228deg 2.15% 54.31%);
    --soft-gray: hsla(0, 0%, 39%, 0.459);
    --off-white: hsl(0, 0%, 91%);
    --yellow-green: rgb(229, 253, 48);
    --soft-yellow: hsla(67, 90%, 61%, 0.42);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

p,
h1 {
    font-family: monospace;
}

a {
    text-decoration: none;
}

html {
    background-color: var(--dark-gray);
    border-radius: 5rem !important;
    outline: none;
}

html,
body {
    height: fit-content !important;
}

.container {
    max-height: 560px;
    min-width: 350px;
    margin: .6em;
}

.title {
    font-size: 4.8rem;
    color: var(--yellow-green);
    font-family: "Bolas";
    margin: 0;
}

#no_content {
    font-size: x-large;
    text-align: center;
    color: var(--lite-gray);
    font-weight: bolder;
    letter-spacing: 2px;
}

.bookmark {
    display: grid;
    grid-template-columns: 8fr 4fr;
    /* grid-template-rows: repeat(5, 1fr); */
    /* width: 100%; */
    /* margin: auto; */
    column-gap: 5px;
    /* border: solid 1px steelblue; */
    min-height: 3rem;
    border-radius: 4px;
    padding: 0 4px;
    background: var(--soft-gray);
    align-content: space-evenly;
    align-items: center;
    justify-content: space-between;

    & img {
        height: 1.6em;
    }

    &:hover {
        cursor: pointer;
        background: var(--soft-yellow);

        & div a p,
        & div p {
            color: var(--off-white) !important;
        }

        /* & div .bookmark__url {
            color: var(--solid-gray) !important;
        } */

        & .bookmark__left {
            border-right: solid 1px var(--yellow-green);
        }
    }
}

.bookmark__url,
.bookmark__date {
    margin: 0;
    font-weight: 500;
    text-wrap-mode: nowrap;
    font-size: xx-small;
    overflow: hidden;
    text-overflow: ellipsis;
    scale: .8;
    transform-origin: left;
    color: var(--lite-gray);
}

.bookmark__date {
    width: 100px;
}


.bookmark__url {
    width: 210px;
    margin-right: 12px;
}

.bookmark__left,
.bookmark__right {
    align-self: baseline;

    /* grid-row: span 2 / span 2; */
}

.bookmark__left {
    border-right: solid 1px var(--lite-gray);
}

.bookmark__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: self-end;
    padding-right: 5px;

    & p {
        /* float: inline-end;
        padding-right: 7px; */
        transform-origin: right;
    }
}

.bookmark__container {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    border-radius: 4px;
    max-height: 20em;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.bookmark__title {
    /* border-bottom: solid 1px #ffffff2e; */
    margin-top: 0;
    font-family: 'Connection';
    color: whitesmoke;
    padding-bottom: .6em;
    letter-spacing: 2px;
}

.bookmark__name {
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    color: var(--yellow-green);
    width: 100%;
    font-weight: bolder;
    font-size: large;
    /* text-transform: capitalize; */
}

#unsaved_bookmark {
    & input[type="text"] {
        border: none;
        background: transparent;

        &:focus-visible {
            outline: none;
        }
    }
}

div.error::before {
    content: "";

}

div.error {
    color: hsl(16, 100%, 50%);
    /* position: relative;
    justify-self: anchor-center;
    margin: 0;
    font-size: .8rem;

    width: 100%;
    left: -100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, hsl(16, 100%, 50%), hsl(16, 100%, 50%));
    transition: width 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: loading 2s linear;

    &p {
        padding: 0;
        margin: 0;
    } */
}

/* 
@keyframes loading {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        right: -100%;
    }
} */

.bookmark__btn {
    padding: 0;
    border: none;
    align-content: center;
}

.save__bookmark {
    height: 80%;
    margin: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.2em 0;
    /* border-top: solid 1px var(--dark-gray); */
    padding-top: 8px;
}

.footer__icon {
    width: 50%;
}

/* UTILITIES */
button,
a {
    &:hover {
        cursor: pointer;
    }
}