.container {
    width: 20em;
    max-width: 25em;
}

.title {
    font-size: 1.8em;
    color: steelblue;
}

.bookmark {
    width: 14rem;
    border: solid 1px steelblue;
    height: 2rem;
    border-radius: 4px;
    padding: 0 4px;
    background: lightcyan;
    align-content: space-evenly;
    display: flex;
}

.bookmark__title {
    border-bottom: solid 1px lightgray;
}

.bookmark__name {
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    color: darkslategrey;
    width: 100%;
}

.bookmark__btn {
    padding: 0;
    border: none;
    align-content: center;
}

.save__bookmark {
    height: 80%;
    margin: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.2em 0;
}

.footer__icon {
    width: 50%;
}